<h1>Create a New Post</h1>

<form action='<%= sub_posts_url(@post.sub_id) %>' method='POST'>
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>

    <label>Title 
        <input type="text" name="post[title]" value="">
    </label>
    <label>Content
      <input type='text' name='post[content]' value=''>
    </label>
  
  <input type='submit' value='Create'>
</form>